<!doctype html>
 
<html lang="en">
<head>

          <tb><%= link_to "Home",    '#' %>    <%= link_to "Add Post",    '/posts/new' %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  </tb>
  
  <meta charset="utf-8" />
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
</head>
<body>
 <div id="accordion">
<% @posts.each do |post| %>
  
     <h3><%= post.name %></h3>
  <div>
    <p>
     <%= post.content %>
    </p>
  </div>
 <%end%>
</div>
 

 
</body>
</html>